@font-face {
    font-family: 'Pacifico';
    src: url(/assets/fonts/Pacifico/Pacifico-Regular.ttf) format("truetype");
}
@font-face {
    font-family: 'Walter Turncoat';
    src: url(/assets/fonts/Walter_Turncoat/WalterTurncoat-Regular.ttf) format("truetype");
}
// @font-face {
//     font-family: 'Roboto';
//     src: url(/assets/fonts/Roboto/Roboto-Bold.ttf) format("truetype");
//     font-weight: bold;
// }
// @font-face {
//     font-family: 'Roboto';
//     src: url(/assets/fonts/Roboto/Roboto-BoldItalic.ttf) format("truetype");
//     font-weight: bold;
//     font-style: italic;
// }
// @font-face {
//     font-family: 'Roboto';
//     src: url(/assets/fonts/Roboto/Roboto-Italic.ttf) format("truetype");
//     font-style: italic;
// }
