<app-sidenav *ngIf="sidenav" (clickedOutside)="sidenav = !sidenav"></app-sidenav>

<div class="sticky pb-2" style="z-index: 1; background-color: white; ">
  <div class="d-flex justify-content-between">
    <div class="d-flex align-items-center">
      <fa-icon style="font-size: 25px;" (click)="sidenav = !sidenav" class="mr-3" icon=bars></fa-icon>
      <h2>Recipes</h2>
    </div>

    <div class="d-flex align-items-center">
      <a [routerLink]="['/recipe/new']"><button class="btn btn-success ml-2">New Recipe</button></a>
      <a [routerLink]="['/shopping-list']"><button class="btn btn-primary ml-2" [disabled]="selectedCount() < 1">
          Shopping List ({{selectedCount()}})
        </button></a>
    </div>
  </div>

  <input [typeaheadOptionsLimit]="7" (typeaheadOnSelect)="onSelect($event)" [(ngModel)]="selected"
    [typeahead]="typeAheadQueryList" class="form-control mb-2 mt-2"
    placeholder="Search a recipe or filter by ingredient" typeaheadOptionField="name" typeaheadGroupField="type" />

  <ng-container *ngFor="let item of filterPillArray; let i = index">
    <filter-pill [filter]="{name: item.name, id: item.id, index: i}" (close)="removeFilter($event)"></filter-pill>
  </ng-container>

</div>


<ng-container *ngIf="filteredRecipes.length > 0; else noRecipes">
  <ul class="list-group" *ngFor="let recipe of filteredRecipes">
    <li class="list-group-item d-flex align-items-center justify-content-between mb-1 recipe-list-item"
      (click)="recipeService.nagivateToRecipe(recipe.id)">
      <div class="d-flex align-items-center">
        <input type="checkbox" class="mr-3" [checked]="recipe.shoppingListItem"
          (click)="onAddRemoveToShoppingList(recipe); $event.stopPropagation()">
        {{ recipe.title }}
      </div>

      <div>
        <button #deleteButton class="btn btn-danger mr-2" style="display:none;"
          (click)="recipeService.deleteRecipe(recipe); $event.stopPropagation()" (dblclick)="$event.stopPropagation()">
          Yes Delete!
        </button>
        <button class="btn btn-outline-danger" (click)="
            deleteButton.style.display == 'none'
              ? (deleteButton.style.display = 'inline')
              : (deleteButton.style.display = 'none');
            $event.stopPropagation()
          " (dblclick)="$event.stopPropagation()">
          <fa-icon icon="times"></fa-icon>
        </button>
      </div>
    </li>
  </ul>
</ng-container>

<ng-template #noRecipes>
  <div class="mt-2">
    <span class="ml-2">No recipes found...</span>
  </div>
</ng-template>

<!-- <a [routerLink]="['/recipe/new']">
  <div class="add-recipe-button">
    <fa-icon icon="plus"></fa-icon>
  </div>
</a> -->

<router-outlet></router-outlet>