// .add-recipe-button {
//   background-color: #3cba54;
//   height: 50px;
//   width: 50px;
//   border-radius: 100%;
//   position: fixed;
//   bottom: 30px;
//   right: 30px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   color: white;
//   font-size: 20px;
// }

.btn.btn-outline-danger:active,
.btn.btn-outline-danger:hover,
.btn.btn-outline-danger:focus {
  color: #dc3545;
  border-color: #dc3545;
  background-color: white;
  box-shadow: none !important;
}

.recipe-list-item{
  cursor: pointer;
}

.recipe-list-item:hover{
  background-color: rgba(1,1,1,0.02)
}


.user {
  display: flex;
  align-items: center;
  cursor: pointer;

  img {
      border: 30px;
      width: 40px;
      height: 40px;
      // margin-right: 8px;
  }
}