/* You can add global styles to this file, and also import other style files */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0!important;
  padding: 0!important;
  line-height: 1.5!important;
}

label{
  margin: 0!important;
}

html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
}
.dashed {
  border: 1px dashed black;
}

.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

input[type='checkbox'] {
  -webkit-appearance:none;
  width:30px;
  height:30px;
  background:white;
  border-radius:5px;
  border:2px solid #555;
}
input[type='checkbox']:checked {
  background: #abd;
}

textarea:focus, input:focus{
  outline: none;
}


@media print {
  button, fa-icon{
      display: none!important;
  }
}   