form > *{
    margin-bottom: 10px;
}


.section-heading{
    width: 200px;
}

.ingredient-input{
    width: 200px;
}

.quantity{
    width: 90px
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
