# Created by https://www.gitignore.io
postgres-data/
django/media/
django/mediafiles/
/media_volume
/backup
### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

.env
db.sqlite3


# vsCode
.vscode
.vscode/*