<ng-container *ngIf="small; else regular">
  <div (click)="navigateToRecipe(recipe.id)"
    style="display: flex; align-items: center; cursor: pointer; width: -webkit-fit-content;">
    <div class="small-recipe-image mr-2" [ngStyle]="{
      'background-image': 'url(' + imageUrl + recipe.image + ')'
    }">
    </div>
    <!-- <span style="font-family: Walter Turncoat">{{recipe.title}}</span> -->
    <span
      style="font-family: Walter Turncoat">{{ (truncTitle && recipe.title.length > titleTruncLength) ? (recipe.title | slice:0:titleTruncLength)+'...':(recipe.title) }}</span>
  </div>
</ng-container>

<ng-template #regular>
  <div style="display: flex; align-items: center; flex-direction: column;">
    <div class="recipe-image" [ngStyle]="{
      'background-image': 'url(' + imageUrl + recipe.image + ')'
    }" (click)="navigateToRecipe(recipe.id)">
      <!-- <div class="recipe-image-overlay">
        <fa-icon class="recipe-image-icon" icon=share></fa-icon>
      </div> -->
    </div>
    <span
      style="font-family: Walter Turncoat">{{ (truncTitle && recipe.title.length > titleTruncLength) ? (recipe.title | slice:0:titleTruncLength)+'...':(recipe.title) }}</span>

  </div>

</ng-template>