<ng-container *ngIf="small; else regular">
  <div (click)="recipeService.nagivateToRecipe(recipe.id)"
    style="display: flex; align-items: center; cursor: pointer; width: -webkit-fit-content;">
    <div class="small-recipe-image mr-2" [ngStyle]="{
      'background-image': 'url(' + imageUrl + recipe.image + ')'
    }">
    </div>
    <span style="font-family: Walter Turncoat">{{recipe.title}}</span>
  </div>
</ng-container>

<ng-template #regular>
  <div class="recipe-image" [ngStyle]="{
    'background-image': 'url(' + imageUrl + recipe.image + ')'
  }" (click)="recipeService.nagivateToRecipe(recipe.id)">
    <div class="recipe-image-overlay">
      <fa-icon class="recipe-image-icon" icon=share></fa-icon>
    </div>
  </div>
  {{recipe.title}}
</ng-template>