<app-sidenav *ngIf="sidenav" (clickedOutside)="sidenav = !sidenav"></app-sidenav>

<div class="sticky pb-2" style="z-index: 1; background-color: white; ">
    <div class="d-flex justify-content-between">
        <div class="d-flex align-items-center">
            <fa-icon style="font-size: 25px;" (click)="sidenav = !sidenav" class="mr-3" icon=bars></fa-icon>
            <h2>Ingredients</h2>
        </div>

        <div class="d-flex align-items-center">
            <a [routerLink]="['/recipe/new']"><button class="btn btn-success ml-2">New Ingredient</button></a>
        </div>
    </div>
</div>