<app-loader (loading)="loading = $event"></app-loader>

<ng-container *ngIf="!loading">
  <app-recipe-card>
    <div header>
      <h1>{{ recipe.title }}</h1>
    </div>

    <ng-container topMenu>
      <button class="btn btn-outline-dark add-to-recipe-book-button" [ngClass]="{'active': isInRecipeBook}"
        (click)="addRecipeToRecipeBook();">{{isInRecipeBook ? 'You have this recipe': 'Add to
        Recipe
        Book'}}</button>
      <fa-icon icon=shopping-basket style="font-size: 25px;" class="ml-2"></fa-icon>

      <a [routerLink]="['/recipe/edit/', recipe.id]" style="color: #212529;">
        <div class="ml-2">
          <fa-icon icon=pencil-alt style="font-size: 25px;"></fa-icon>
        </div>
      </a>
    </ng-container>


    <ng-container ingredients>
      <div class="ingredients" *ngIf="recipe.ingredient_sections">
        <h3>Ingredients</h3>
        <div>
          <ul>
            <ng-container *ngFor="let section of recipe.ingredient_sections">
              <span *ngIf="section.name !== 'General'" class="section-name">{{section.name}}</span>
              <ng-container *ngFor="let ingredient of section.ingredients">
                <ng-container *ngIf="ingredient.is_recipe_as_ingredient; else ingredientListItem">
                  <li><a [routerLink]="['/recipe/view/', ingredient.recipe_id]" class="remove-margin"><span
                        class="remove-margin">{{ingredient.recipe_name}}</span></a><span style="margin-left: 0;"
                      *ngIf="ingredient.recipe_notes">,
                      {{ingredient.recipe_notes}}</span>

                    <!-- <span>
                      ({{ helper.numberToFraction(ingredient.recipe_quantity) }}<span>
                        serving<span style="margin-left: 0;" *ngIf="ingredient.recipe_quantity > 1">s</span></span>)</span> -->
                  </li>
                </ng-container>
                <ng-template #ingredientListItem>
                  <li><span class="remove-margin">{{ helper.numberToFraction(ingredient.ingredient_quantity) }}
                      {{ ingredient.unit_multiplier > 0 ? ingredient.unit : ''}}
                      {{ ingredient.ingredient_name }}</span><span style="margin-left: 0;"
                      *ngIf="ingredient.ingredient_notes">,
                      {{ingredient.ingredient_notes}}</span></li>
                </ng-template>

              </ng-container>

            </ng-container>
          </ul>

        </div>
      </div>
    </ng-container>

    <ng-container image>
      <div class="image recipe-section" *ngIf="recipe.image" [ngStyle]="{
          'background-image': 'url(' + imageUrl + recipe.image + ')'
        }" style="height: 400px; background-position: center; background-size: cover;"></div>
      <div>
        <div style="display: flex;">
          <div *ngFor="let tag of recipe.tags" style="width: 125px;" class="mr-2">
            <app-tag>{{tag.name}}</app-tag>
          </div>
        </div>


      </div>
      <h3 *ngIf="!recipe.image">Description</h3>
      <span>{{ recipe.description }}</span>
    </ng-container>


    <ng-container instructions>
      <div class="instructions recipe-section">
        <h3>Instructions</h3>
        <ng-container *ngFor="let step of recipe.steps">
          <div style="display:flex;">
            <h5 style="margin:0; padding: 0;" class="mr-3">
              {{ step.number }}
            </h5>
            <div style="padding-top: 2px;">
              {{ step.instruction }}
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>


    <ng-container notes>
      <div style="width: 100%;">
        <div class="d-flex align-items-center">
          <h3>Notes</h3>
          <fa-icon (click)="editingNotes = !editingNotes" icon=pencil-alt style="font-size: 16px;" class="ml-1 mt-1">
          </fa-icon>
        </div>
        <span *ngIf="!editingNotes; else notesEdit;">{{recipe.notes}}</span>
        <ng-template #notesEdit>
          <textarea rows="5" [(ngModel)]="recipe.notes" style="width: 100%;"></textarea>
          <button class="btn-primary btn" (click)="updateNotes(); editingNotes = false">Save</button>
        </ng-template>
      </div>
    </ng-container>


  </app-recipe-card>
</ng-container>