<ng-container *ngIf="recipe">
  <app-recipe-card>
    <div header>
      <h1>{{ recipe.title }} <a class="edit-alt-button" [routerLink]="['/recipe/edit/', recipe.id]">
          <fa-icon icon=pencil-alt></fa-icon>
        </a></h1>
    </div>

    <div edit>
      <a [routerLink]="['/recipe/edit/', recipe.id]">
        <div class="ml-2">
          <fa-icon icon=pencil-alt style="font-size: 25px;"></fa-icon>
        </div>
      </a>
    </div>



    <ng-container ingredients>
      <div class="ingredients" *ngIf="recipe.ingredient_sections">
        <h3>Ingredients</h3>
        <div>
          <ul>
            <ng-container *ngFor="let section of recipe.ingredient_sections">
              <span *ngIf="section.name !== 'General'" class="section-name">{{section.name}}</span>
              <ng-container *ngFor="let ingredient of section.ingredients">
                <li><span>{{ helper.numberToFraction(ingredient.quantity) }}
                    {{ ingredient.unit_multiplier > 0 ? ingredient.unit : ''}}
                    {{ ingredient.name }}</span><span *ngIf="ingredient.ingredient_notes">,
                    {{ingredient.ingredient_notes}}</span></li>
              </ng-container>

            </ng-container>
          </ul>

        </div>
      </div>
    </ng-container>

    <ng-container image>
      <div class="image recipe-section" *ngIf="recipe.image" [ngStyle]="{
          'background-image': 'url(' + imageUrl + recipe.image + ')'
        }" style="height: 400px; background-position: center; background-size: cover;"></div>
      <h3 *ngIf="!recipe.image">Description</h3>
      <span>{{ recipe.description }}</span>
    </ng-container>


    <ng-container instructions>
      <div class="instructions recipe-section">
        <h3>Instructions</h3>
        <ng-container *ngFor="let step of recipe.steps">
          <div style="display:flex;">
            <h5 style="margin:0; padding: 0;" class="mr-3">
              {{ step.number }}
            </h5>
            <div style="padding-top: 2px;">
              {{ step.instruction }}
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>


    <ng-container notes>
      <div style="width: 100%;">
        <div class="d-flex align-items-center">
          <h3>Notes</h3>
          <fa-icon (click)="editingNotes = !editingNotes" icon=pencil-alt style="font-size: 16px;" class="ml-1 mt-1">
          </fa-icon>
        </div>
        <span *ngIf="!editingNotes; else notesEdit;">{{recipe.notes}}</span>
        <ng-template #notesEdit>
          <textarea rows="5" [(ngModel)]="recipe.notes" style="width: 100%;"></textarea>
          <button class="btn-primary btn" (click)="updateNotes(); editingNotes = false">Save</button>
        </ng-template>
      </div>
    </ng-container>


  </app-recipe-card>
</ng-container>