.ingredients table th {
    min-width: 200px;
}

.image{
    // box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    border: 3px solid rgb(0, 0, 0);
}

.recipe-title{
    margin-bottom: 0;
    font-family: 'Pacifico', cursive;
}

h3, p, span, div, li{
    font-family: 'Walter Turncoat', cursive; //*****
}

p, span, div, li{
    font-size: 19px;
}


ul {
    margin-left: 20px;
    padding:0;
  }

li span{
    margin-left: 6px;
}