<ng-container *ngIf="recipe">
  <app-popover>
    <h1 header style="margin-bottom: 0;">{{ recipe.title }}</h1>
    <div body>
      <div
        class="image recipe-section"
        *ngIf="recipe.image"
        [ngStyle]="{
          'background-image': 'url(http://localhost:8000' + recipe.image + ')'
        }"
        style="height: 250px; background-position: center; background-size: cover;"
      ></div>
      <div class="description recipe-section">
        {{ recipe.description }}
      </div>
      <div class="ingredients recipe-section">
        <table>
          <thead>
            <tr>
              <th>Ingredient</th>
              <th>Quantity</th>
              <th>Units</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let ingredient of recipe.ingredients">
              <tr>
                <td>{{ ingredient.ingredient.name }}</td>
                <td>{{ ingredient.quantity }}</td>
                <td>{{ getIngredientUnit(ingredient.unit) }}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
      <div class="instructions recipe-section">
        <h3>Instructions</h3>
        <ng-container *ngFor="let step of recipe.steps">
          <div style="display:flex; align-items: center;">
            <h5 style="margin:0; padding: 0;" class="mr-3">
              {{ step.number }}
            </h5>
            <div>
              {{ step.instruction }}
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </app-popover>
</ng-container>
