<ng-container *ngIf="recipe">
  <app-popover>
    <h1 header style="margin-bottom: 0;">{{recipe.title}}</h1>
    <div body>
      <div class="description recipe-section">
        {{recipe.description}}
      </div>
      <div class="instructions recipe-section">
        {{recipe.instructions}}
      </div>
      <div class="instructions recipe-section">
        {{recipe.instructions}}
      </div>
      <div class="instructions recipe-section">
        {{recipe.instructions}}
      </div>
      <div class="instructions recipe-section">
        {{recipe.instructions}}
      </div>
      <div class="instructions recipe-section">
        {{recipe.instructions}}
      </div>
      <div class="instructions recipe-section">
        {{recipe.instructions}}
      </div>
    </div>
  </app-popover>
</ng-container>