<ng-container *ngIf="recipe">
  <app-popover>
    <div header>
      <h1 style="margin-bottom: 0;">{{ recipe.title }}</h1>
      <a [routerLink]="['/recipe/edit/', recipe.id]">
        <div>
          <fa-icon icon=edit style="font-size: 15px;"></fa-icon>
        </div>
      </a>
    </div>

    <div body>
      <div class="image recipe-section" *ngIf="recipe.image" [ngStyle]="{
          'background-image': 'url(http://localhost:8000' + recipe.image + ')'
        }" style="height: 250px; background-position: center; background-size: cover;"></div>
      <div class="description recipe-section">
        {{ recipe.description }}
      </div>
      <div class="ingredients recipe-section">
        <h3>Ingredients</h3>
        <ng-container *ngFor="let ingredient of recipe.ingredients">
          <span>{{ ingredient.quantity }} {{ getIngredientUnit(ingredient.unit) }}
            {{ ingredient.ingredient.name }}</span><br>
        </ng-container>
      </div>
      <div class="instructions recipe-section">
        <h3>Instructions</h3>
        <ng-container *ngFor="let step of recipe.steps">
          <div style="display:flex;">
            <h5 style="margin:0; padding: 0;" class="mr-3">
              {{ step.number }}
            </h5>
            <div style="padding-top: 2px;">
              {{ step.instruction }}
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </app-popover>
</ng-container>