.dropdown-backdrop{
    position: fixed;
    top: 0;
    bottom: 0;
    left:0;
    right: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 10;
}
$image_size: 150px;
$image_wrapper_width: $image_size + 20px;
.recipe-wrapper{
    width: $image_wrapper_width;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align:center;
}

$image_size: 150px;
.recipe-image{
    width: $image_size;
    height: $image_size;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
}

.recipe-image-overlay{
    height: 100%;
    width: 100%;
    border-radius: 100%;
    transition: background-color 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: rgba(255, 255, 255, 0.7)
}

.recipe-image-icon{
    visibility: hidden;
}

.recipe-image-overlay:hover{
    background-color: rgba(0, 51, 102, 0.7);
}


.recipe-image-overlay:hover .recipe-image-icon{
    visibility: visible;
}