<ng-template #loading>
    <div class="loader">
        <fa-icon icon=cog></fa-icon>
    </div>
</ng-template>


<ng-container *ngIf="(appService.loading$ | async) == false; else loading">

    <div class="d-flex mb-2 mt-2 align-items-start">
        <div style="flex-shrink:0; position: relative;">
            <div>
                <button class="btn btn-outline-primary form-control" (click)="openDropdown();">Browse by Tag</button>
                <div *ngFor="let tag of filterTagArray; let i = index">
                    <app-tag (click)="removeTag(i);">{{tag.name}}</app-tag>
                </div>
            </div>
            <div style="position: relative;">
                <app-tag-dropdown (tag)="addTagToFilter($event)" *ngIf="tagDropdown" [tagCategories]="tagCategories"
                    [tags]="appService.tags$ | async">
                </app-tag-dropdown>
            </div>
        </div>



        <div style="width: 100%; padding-right: 8px;">
            <input [typeaheadOptionsLimit]="7" (typeaheadOnSelect)="onSelect($event)" [(ngModel)]="selected"
                [typeahead]="typeAheadQueryList" class="form-control ml-2"
                placeholder="Search a recipe or filter by ingredient" typeaheadOptionField="name"
                typeaheadGroupField="type" />

            <div class="mt-2 ml-2">
                <ng-container *ngFor="let item of filterPillArray; let i = index">
                    <filter-pill [filter]="{name: item.name, id: item.id, index: i}" (close)="removeFilter($event)">
                    </filter-pill>
                </ng-container>
            </div>

        </div>


    </div>




    <ng-container *ngIf="filteredRecipes.length > 0; else noRecipes">
        <section style="display: flex; flex-wrap: wrap;">
            <div *ngFor="let recipe of filteredRecipes" class="recipe-wrapper">
                <div class="recipe-image" [ngStyle]="{
                    'background-image': 'url(' + imageUrl + recipe.image + ')'
                  }" (click)="recipeService.nagivateToRecipe(recipe.id)">
                    <div class="recipe-image-overlay">
                        <fa-icon class="recipe-image-icon" icon=share></fa-icon>
                    </div>
                </div>
                {{recipe.title}}
            </div>

        </section>
        <!-- <ul class="list-group" *ngFor="let recipe of filteredRecipes">
            <li class="list-group-item d-flex align-items-center justify-content-between mb-1 recipe-list-item"
                (click)="recipeService.nagivateToRecipe(recipe.id)">
                <div class="d-flex align-items-center">
                    <input type="checkbox" class="mr-3" [checked]="recipe.shoppingListItem"
                        (click)="onAddRemoveToShoppingList(recipe); $event.stopPropagation()">
                    {{ recipe.title }}
                </div>

                <div>
                    <button #deleteButton class="btn btn-danger mr-2" style="display:none;"
                        (click)="recipeService.deleteRecipe(recipe); $event.stopPropagation()"
                        (dblclick)="$event.stopPropagation()">
                        Yes Delete!
                    </button>
                    <button class="btn btn-outline-danger" (click)="
              deleteButton.style.display == 'none'
                ? (deleteButton.style.display = 'inline')
                : (deleteButton.style.display = 'none');
              $event.stopPropagation()
            " (dblclick)="$event.stopPropagation()">
                        <fa-icon icon="times"></fa-icon>
                    </button>
                </div>
            </li>
        </ul> -->
    </ng-container>

    <ng-template #noRecipes>
        <div class="mt-2">
            <span class="ml-2">No recipes found...</span>
        </div>
    </ng-template>


</ng-container>


<div class="dropdown-backdrop" (click)="tagDropdown = false;"
    [ngStyle]="{'display':tagDropdown == true ? 'inline': 'none' }">
</div>