<div class="over" style="display: flex; justify-content: center;">
    <main>
        <section class="top-section">
            <div class="recipe-title">
                <ng-content select="[header]"></ng-content>
            </div>
            <div class="top-divs">
                <div class="ingredients">
                    <ng-content select="[ingredients]"></ng-content>
                </div>
                <div class="image">
                    <ng-content select="[image]"></ng-content>
                </div>
            </div>
        </section>

        <div class="page-break"></div>

        <section class="bottom-section">
            <div class="bottom-divs">
                <div class="instructions">
                    <ng-content select="[instructions]"></ng-content>
                </div>
                <div class="notes">
                    <ng-content select="[notes]"></ng-content>
                </div>
            </div>
        </section>
    </main>


    <fa-icon (click)="goBack();" icon=arrow-left class="back-button">
    </fa-icon>

    <div class="edit-button">
        <ng-content select="[edit]"></ng-content>
    </div>
</div>