.over{
    position:absolute;
    z-index: 2;
    top:0;
    left:0;
    right:0;
    min-height: 100vh;
    padding: 10px 0;

    background-color: #f8f5de;
    background-image: linear-gradient(to right, rgba(255,210,0,0.4), rgba(200, 160, 0, 0.1) 11%, rgba(0,0,0,0) 35%, rgba(200, 160, 0, 0.1) 65%);
    box-shadow: inset 0 0 75px rgba(255,210,0,0.3), inset 0 0 20px rgba(255,210,0,0.4), inset 0 0 30px rgba(220,120,0,0.8);
}

section{
    padding: 10px 70px;
}

main{
    width: 100%;
    padding-bottom: 50px;
}

.page-break{
    height: 50px;
    background: linear-gradient(transparent 0%,rgba(0,0,0,0.2) 46%,rgba(0,0,0,0.5) 49%,rgba(0,0,0,0.6) 50%,rgba(0,0,0,0.5) 51%,rgba(0,0,0,0.2) 52%,transparent 100%);
}


.ingredients, .image, .instructions, .notes{
    width: 50%;
}

.instructions, .notes{
    margin-top: 20px;
}

.instructions{
    padding-right: 15px;
}
