<div class="over" style="display: flex; justify-content: center;">
    <main>

        <div class="recipe-menu">
            <div (click)="goBack();" class="back-button">
                <fa-icon icon=arrow-left style="font-size: 35px;"></fa-icon>
            </div>
            <div (click)="goHome();" class="home-button">
                <fa-icon icon=home style="font-size: 35px;"></fa-icon>
            </div>

            <div class="top-menu">
                <ng-content select="[topMenu]"></ng-content>
            </div>

        </div>

        <section class="top-section">
            <div class="recipe-title">
                <ng-content select="[header]"></ng-content>
            </div>
            <div class="top-divs">
                <div class="ingredients">
                    <ng-content select="[ingredients]"></ng-content>
                </div>
                <div class="image">
                    <ng-content select="[image]"></ng-content>
                </div>
            </div>
        </section>

        <div class="page-break"></div>

        <section class="bottom-section">
            <div class="bottom-divs">
                <div class="instructions">
                    <ng-content select="[instructions]"></ng-content>
                </div>
                <div class="notes">
                    <ng-content select="[notes]"></ng-content>
                </div>
            </div>
        </section>
    </main>


    <!-- <div (click)="goBack();" class="back-button">
        <fa-icon icon=arrow-left style="font-size: 25px;"></fa-icon>
    </div>
    <div (click)="goHome();" class="home-button">
        <fa-icon icon=home style="font-size: 25px;"></fa-icon>
    </div>

    <div class="top-menu">
        <ng-content select="[topMenu]"></ng-content>
    </div> -->
</div>