<div class="sticky mb-3 pb-2" style="z-index: 1; background-color: white; ">
  <h1>Recipe List</h1>

  <input [(ngModel)]=" selected" (keydown.Tab)="onTab($event)" [typeahead]="names" class="form-control mb-2"
    placeholder="Search a recipe or filter by ingredient" />

  <ng-container *ngFor="let item of filterPillArray; let i = index">
    <filter-pill [filter]="{name: item, index: i}" (close)="removeFilter($event)"></filter-pill>
  </ng-container>

</div>


<ng-container *ngIf="recipes.length > 0; else noRecipes">
  <ul class="list-group" *ngFor="let recipe of recipes">
    <li class="list-group-item d-flex align-items-center justify-content-between mb-1"
      (click)="recipeService.nagivateToRecipe(recipe.id)">
      {{ recipe.title }}
      <div>
        <button #deleteButton class="btn btn-danger mr-2" style="display:none;"
          (click)="recipeService.deleteRecipe(recipe); $event.stopPropagation()">
          Yes Delete!
        </button>
        <button class="btn btn-outline-danger" (click)="
            deleteButton.style.display == 'none'
              ? (deleteButton.style.display = 'inline')
              : (deleteButton.style.display = 'none');
            $event.stopPropagation()
          ">
          <fa-icon icon="times"></fa-icon>
        </button>
      </div>
    </li>
  </ul>
</ng-container>

<ng-template #noRecipes>
  <div class="mt-2">
    <span class="ml-2">No recipes yet...</span>
  </div>
</ng-template>

<a [routerLink]="['/recipe/new']">
  <div class="add-recipe-button">
    <fa-icon icon="plus"></fa-icon>
  </div>
</a>

<router-outlet></router-outlet>