<h1 class="sticky">Recipe List</h1>

<input
  [(ngModel)]="selected"
  [typeahead]="names"
  class="form-control mb-3"
  placeholder="Search a recipe or ingredient"
/>

<ng-container *ngIf="recipes.length > 0; else noRecipes">
  <ul class="list-group" *ngFor="let recipe of recipes">
    <li
      class="list-group-item d-flex align-items-center justify-content-between mb-1"
      (click)="recipeService.nagivateToRecipe(recipe.id)"
    >
      {{ recipe.title }}
      <div>
        <button
          #deleteButton
          class="btn btn-danger mr-2"
          style="display:none;"
          (click)="recipeService.deleteRecipe(recipe); $event.stopPropagation()"
        >
          Sure?
        </button>
        <button
          class="btn btn-outline-danger"
          (click)="
            deleteButton.style.display == 'none'
              ? (deleteButton.style.display = 'inline')
              : (deleteButton.style.display = 'none');
            $event.stopPropagation()
          "
        >
          <fa-icon icon="times"></fa-icon>
        </button>
      </div>
    </li>
  </ul>
</ng-container>

<ng-template #noRecipes>
  <div class="mt-2">
    <span class="ml-2">No Recipes yet...</span>
  </div>
</ng-template>

<a [routerLink]="['/recipe/new']">
  <div class="add-recipe-button">
    <fa-icon icon="plus"></fa-icon>
  </div>
</a>

<router-outlet></router-outlet>
