<main>
    <div style="display:flex; align-items: center;">
        <span style="font-family: Walter Turncoat;">Date Range</span>
        <input style="width: 250px;" type="text" placeholder="Daterangepicker" class="form-control ml-2"
            bsDaterangepicker [bsConfig]="{ adaptivePosition: true }">


        <div class="ml-2">
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline1">Week</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline2">Month</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline3" name="customRadioInline1" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline3">Season</label>
            </div>
        </div>

    </div>



</main>