<div class="over" style="display: flex; justify-content: center;">
    <div style="width: 1000px">
        <div style="display: flex; align-items: center;">
            <div style="flex-grow: 1; text-align:center; text-transform: uppercase;">
                <ng-content select="[header]"></ng-content>
            </div>
        </div>
        <div style="padding: 20px;">
            <ng-content select="[body]"></ng-content>
        </div>
    </div>

</div>

<div (click)="goBack();"
    style="position: fixed; top: 10px; left: 10px; padding-right: 10px; z-index: 2; color: #007bff;">
    <fa-icon icon=arrow-left style="font-size: 25px;"></fa-icon>
</div>