.over{
    position:absolute;
    z-index: 2;
    top:0;
    left:0;
    right:0;
    min-height: 100vh;
    padding: 40px 20px;
    background-color: white;
    
}

main{
    width: 100%;
}

.print-button{
    color: #212529;
    position: absolute;
    top: 15px; right: 20px;
}