<div class="over" style="display: flex; justify-content: center;">
    <main>

        <div class="menu">
            <div (click)="goBack();" class="back-button">
                <fa-icon icon=arrow-left></fa-icon>
            </div>
            <div (click)="goHome();" class="home-button">
                <fa-icon icon=home></fa-icon>
            </div>
            <div (click)="goToRecipeBook();" class="recipe-book-button">
                <fa-icon icon=book></fa-icon>
            </div>
            <div class="top-menu">
                <ng-content select="[topMenu]"></ng-content>
            </div>
        </div>

        <section>
            <div style="display: flex; align-items: center; margin-top: 20px;">
                <div style="flex-grow: 1; text-align:left;">
                    <ng-content select="[header]"></ng-content>
                </div>
            </div>
            <ng-content select="[body]"></ng-content>
        </section>


    </main>
</div>