<app-popover>


    <div print>
        <fa-icon (click)="print();" style="font-size: 25px;" icon="print"></fa-icon>
    </div>

    <div header>
        <h1 style="margin-bottom: 0; font-family: 'Pacifico', cursive;">Shopping List</h1>
    </div>

    <div body>
        <h4>Recipes Selected:</h4>
        <ul>
            <li *ngFor="let recipe of selectedRecipes">{{recipe.title}}</li>
        </ul>
        <h4><u>Shopping List</u></h4>
        <div class="row">
            <div class="col">
                <ng-container *ngFor="let section of storeSections">
                    <ng-container
                        *ngIf="(ingredientList | filterObjectArray : 'ingredient_store_section' : section.name).length > 0;">
                        <h5>{{section.name}}</h5>
                        <ul>
                            <li
                                *ngFor="let ingredient of ingredientList | filterObjectArray : 'ingredient_store_section' : section.name">
                                {{helper.numberToFraction(ingredient.ingredient_quantity)}}
                                {{ingredient.unit_multiplier > 0 ? ingredient.unit : ''}}
                                {{ingredient.ingredient_name}}</li>
                        </ul>
                    </ng-container>
                </ng-container>
            </div>
        </div>

    </div>
</app-popover>