.save-ingredient-button{
    background-color: #28a745;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    border-radius: 3px;
}

.save-ingredient-button:hover{
    background-color: #218838;
}