<div class="modal-header">
  <h5 class="pull-left">Add New Ingredient</h5>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="d-flex align-items-center">
      <label for="name" style="min-width: 100px;">Name</label><input [(ngModel)]="newIngredientName"
          class="form-control" type="text" id="name">
  </div>
  <div class="d-flex align-items-center mt-2">
      <label for="name" style="min-width: 100px;">Unit Type</label>
      <select class="form-control" [(ngModel)]="newIngredientUnitType">
          <option *ngFor="let unitType of unitTypes$ | async" [ngValue]="unitType.id">
              {{ unitType.name }}</option>
      </select>
  </div>
  <div class="d-flex align-items-center mt-2">
      <label for="name" style="min-width: 100px;">Store Section</label>

      <select class="form-control" [(ngModel)]="newIngredientStoreSection">
          <option *ngFor="let storeSection of storeSections$ | async" [ngValue]="storeSection.id">
              {{ storeSection.name }}</option>
      </select>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-success btn-sm" (click)="onSubmitIngredient();"
      [disabled]="!newIngredientStoreSection || !newIngredientUnitType || !newIngredientName"
      type="submit">Submit</button>
</div>
