.user {
    display: flex;
    align-items: center;
    cursor: pointer;
  
    img {
        border: 30px;
        width: 40px;
        height: 40px;
        // margin-right: 8px;
    }
  }

  .shopping-cart{
      cursor: pointer;
      position: relative;
      fa-icon{
          font-size: 35px;
      }
      .shopping-cart-quantity{
        // color: orange;
        color: white;
        position:absolute;
        right: 11px;
        top: 7px;
        font-family: Pacifico;
      }
  }