<app-sidenav *ngIf="sidenav" (clickedOutside)="sidenav = false"></app-sidenav>


<div style="z-index: 1; background-color: white; padding: 15px 20px 15px; border-bottom: 1px solid black;">
    <div class="d-flex justify-content-between">
        <div class="d-flex align-items-center">
            <fa-icon style="font-size: 25px;" (click)="sidenav = !sidenav" class="mr-3" icon=bars></fa-icon>
            <a [routerLink]="['/']" style="color: inherit;">
                <h2 class="cursive">Max's Recipes</h2>
            </a>

        </div>

        <div class="d-flex align-items-center">
            <div class="user ml-2" *ngIf="authService.user | async" (click)="authService.logout();">
                <img [src]="authService.currentUser().photoURL" alt="" style="border-radius: 100%;">
            </div>
            <a [routerLink]="['/recipe/new']"><button class="btn btn-outline-primary ml-2">New Recipe</button></a>
            <a [routerLink]="['/meal-planner']"><button class="btn btn-outline-primary ml-2">Meal Planner</button></a>
            <a [routerLink]="['/recipe-book']"><button class="btn btn-outline-primary ml-2">Recipe Book</button></a>
            <a [routerLink]="['/shopping-list']" style="color: inherit;">
                <div class="shopping-cart ml-2">
                    <fa-icon icon=shopping-cart></fa-icon>
                    <span class="shopping-cart-quantity">2</span>
                </div>
            </a>
        </div>
    </div>
</div>