<app-loader (loading)="loading = $event"></app-loader>


<ng-container *ngIf="!loading">
    <div class="sticky pb-2" style="z-index: 1; background-color: white; ">
        <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center">
                <!-- <fa-icon style="font-size: 25px;" (click)="sidenav = !sidenav" class="mr-3" icon=bars></fa-icon> -->
                <h2>Ingredients</h2>
            </div>

            <div class="d-flex align-items-center">
                <button class="btn btn-success ml-2" (click)="openNewIngredientModal();">New Ingredient</button>
            </div>
        </div>

        <input [(ngModel)]="query" class="form-control mb-2 mt-2"
            placeholder="Search ingredient, unit type, or store section" />
    </div>

    <table style="width: 100%;" class="table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th style="width: 40%;">Ingredient</th>
                <th style="width: 30%;">Unit Type(s)</th>
                <th>Store Section</th>
                <th class="text-center">Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ingredient of ingredients | filter:query">
                <td>{{ingredient.name}}</td>
                <td><span
                        *ngFor="let unitType of ingredient.unit_types; let isLast=last">{{unitType.name}}{{isLast ? '' : ', '}}</span>
                </td>
                <td>{{ingredient.store_section}}</td>
                <td class="text-danger text-center delete" (click)="deleteIngredient(ingredient.id)">
                    <fa-icon icon=trash></fa-icon>
                </td>
            </tr>
        </tbody>
    </table>

</ng-container>